!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Home Page
    %link{href: "https://use.typekit.net/yjp6aky.css", rel:"stylesheet"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "../../css/main.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "../../css/bootstrap-icons.css"}
    %link{:href => "https://unpkg.com/swiper/swiper-bundle.min.css", :rel => "stylesheet"}/
  %body
    #inner-page.container
      .page-hero
        %a.btn.button--book-now{:href => "https://hanazononiseko-staging-pr-83.herokuapp.com/en/book"} Book Now
        %h1 Save 30% every time you book another activity with us!
        .page-hero-image
          %img{:src => "https://hanazononiseko-staging-pr-83.herokuapp.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZzhGIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--23dbbcfec65195a0ffa6157842a3b11f71514704/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVFKQUJta0NRQVk9IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b4b20248a65e9753916eb75209fe505fb39b9584/returning-guest.jpg"}/
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
          %li.breadcrumb-item
            %a{:href => "#"} Home
          %li.breadcrumb-item.active{"aria-current" => "page"} Library
    
      .wysiwyg-content.block-editor-content
        %h2 Returning Guest Discount 30% Off
        .wp-block-columns 
          .wp-block-column 
            %p As a big thank you to all our guests who return to Hanazono again, we offer 30% off on your next bookings! This is available every time you book another activity with us during 2021's summer season!
            %p You can choose the next activity different from the one you had the first time! Check out the activities now and make the most of your time in Niseko!
          .wp-block-column 
            %figure.wp-block-image 
              %img(src="https://cdn.hanazononiseko.com/uploads/integral/image/file/1689/nennai_rp_hd-jpg.jpg" alt="")/

        %h2 Activities & price
        %figure.wp-block-table.is-style-striped
          %table
            %thead
              %tr
                %th.text-center{"data-align" => "center"} Activity
                %th.text-center{"data-align" => "center"} Regular Price → Returning Guest Price
            %tbody
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/rafting"} Rafting
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s 5,900
                  → ¥4,130
                  %br>/
                  Child ¥
                  %s 3,900
                  → ¥2,730
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/kids-rafting"} Kid's Rafting
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s 4,500
                  → ¥3,150
                  %br>/
                  Child ¥
                  %s 3,400
                  → ¥2,380
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/ducky"} Ducky
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s> 5,90
                  0 → ¥4,130
                  %br>/
                  Child ¥
                  %s 3,900
                  → ¥2,730
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/canyoning"} Canyoning
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s 6,800
                  → ¥4,760
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/sea-kayaking"} Sea Kayaking
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s 7,300
                  → ¥5,110
                  %br>/
                  Child ¥
                  %s 5,000
                  → ¥3,500
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/tree-trekking"} Tree Trekking
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s 4,500
                  → ¥3,150
                  %br>/
                  Child ¥
                  %s 3,800
                  → ¥2,660
              %tr
                %td.text-center{"data-align" => "center"}
                  %a{:href => "https://hanazononiseko.com/en/summer/activities/cycling"} Cycling
                %td.text-center{"data-align" => "center"}
                  Adult ¥
                  %s 5,700
                  → ¥3,990
                  %br>/
                  Child ¥
                  %s 3,900
                  → ¥2,730
        %p
          *The activities after the second time can be the same or different from the first one.
          %br>/
          *If one person is eligible, this discount applies to everyone in the group.
          %br>/
          *This discount applies to guests booking direct with us and have an email address.
          %br/
        %h2 How to use
        %ol
          %li Receive an email from Hanazono at midnight the day after your first activity.
          %li Check the "discount code" in the email.
          %li Once you've decided on the date of your next booking, just enter the discount code on the booking page!
        %p If you would like to make a next booking right after the first activity, please contact us.
        %h2 Other Activies
        %p Hanazono has many more activities to stimulate your curiosity! Click the button below to check them out!
        .wp-block-columns
          .wp-block-column 
            %figure.wp-block-image
              %img.wp-image-1564{:alt => "", :src => "https://cdn.hanazononiseko.com/uploads/integral/image/file/1564/kids-rafting_image6-jpg-large.jpg"}/
          .wp-block-column 
            %figure.wp-block-image
              %img.wp-image-1564{:alt => "", :src => "https://cdn.hanazononiseko.com/uploads/integral/image/file/1564/kids-rafting_image6-jpg-large.jpg"}/
          .wp-block-column 
            %figure.wp-block-image
              %img.wp-image-1564{:alt => "", :src => "https://cdn.hanazononiseko.com/uploads/integral/image/file/1564/kids-rafting_image6-jpg-large.jpg"}/
        .wp-block-buttons.text-center
          .wp-block-button.btn.btn-primary.btn-lg
            %a.wp-block-button__link{:href => "https://hanazononiseko.com/en/summer/activities"} Check other activities
        .wp-block-group
          %h3 Inquiry 
          .wp-block-integral-alert.alert.alert-secondary{:role => "alert"}
            %h5 
              Tel: 
              %a(href="#") 0136 - 21 - 3333
              %br/
              Email: 
              %a(href="#") summeractivity@harmonyresorts.com
              %br/
              Hours: 8:30am 〜 5:30pm
        .wp-block-alert.alert.alert-primary 
          %h5 Prevention Measures Against Covid-19
          %p This season’s summer activities at Hanazono Niseko Resort will operate while sticking to the following guidelines to ensure the safety of our customers and our employees.
          %p Please read it carefully before making a booking.
          .wp-block-buttons
            .wp-block-button.btn.btn-outline-primary
              %a.wp-block-button__link{:href => "https://hanazononiseko.com/en/summer/safetymeasures", :rel => "noreferrer noopener", :target => "_blank"} ACT AGAINST COVID-19
        %h2 Accordion Example
        .wp-block-accordion#accordionExample.accordion
          .accordion-item
            %h2#headingOne.accordion-header
              %button.accordion-button{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #1
            #collapseOne.accordion-collapse.collapse.show{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the first item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
          .accordion-item
            %h2#headingTwo.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-bs-target" => "#collapseTwo", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #2
            #collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the second item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
          .accordion-item
            %h2#headingThree.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-bs-target" => "#collapseThree", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #3
            #collapseThree.accordion-collapse.collapse{"aria-labelledby" => "headingThree", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the third item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
        %h2 Special Offers Block
        .row 
          .col-md-4 
            .wp-block-integral-card 
              %a(href="#") 
                %img(src="../../images/random-image.jpg" alt="Random")/
                .card__label  30%OFF 
              .card-section 
                %h3.card__title 
                  %a(href="#") RETURNING GUEST DISCOUNT 30% Off
                %hr.card__divider
                .card-body 
                  %span.card__offer 
                    %i.bi.bi-calendar 
                    Expires Oct 31
                  %p Big thank you to all our guests who return to Hanazono again! Save 30% every time you book another activity with us during 2021's summer season!
          .col-md-4 
            .wp-block-integral-card 
              %a(href="#") 
                %img(src="../../images/random-image.jpg" alt="Random")/
                .card__label  30%OFF 
              .card-section 
                %h3.card__title 
                  %a(href="#") RETURNING GUEST DISCOUNT 30% Off
                %hr.card__divider
                .card-body 
                  %span.card__offer 
                    %i.bi.bi-calendar 
                    Expires Oct 31
                  %p Big thank you to all our guests who return to Hanazono again! Save 30% every time you book another activity with us during 2021's summer season!
          .col-md-4 
            .wp-block-integral-card 
              %a(href="#") 
                %img(src="../../images/random-image.jpg" alt="Random")/
                .card__label  30%OFF 
              .card-section 
                %h3.card__title 
                  %a(href="#") RETURNING GUEST DISCOUNT 30% Off
                %hr.card__divider
                .card-body 
                  %span.card__offer 
                    %i.bi.bi-calendar 
                    Expires Oct 31
                  %p Big thank you to all our guests who return to Hanazono again! Save 30% every time you book another activity with us during 2021's summer season!

        %h2 Review Block
        .wp-block-integral-card
          .card-body
            %h5.card-title
              Patrick Lindsay
            .card__review-rating
              %i.bi.bi-star-fill
              %i.bi.bi-star-fill
              %i.bi.bi-star-fill
              %i.bi.bi-star-fill
              %p This is a review example
        %h2 Cover Blocks
        .wp-block-cover.cover--full.mt-5.mb-5 
          %img.cover__image(src="../../images/random-image.jpg" alt="")
          .cover__body 
            %h2 About the Resort
            %p 
              Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.    
        .wp-block-cover.cover--left.mt-3
          %img.cover__image(src="../../images/random-image.jpg" alt="")
          .cover__body 
            %h2 About the Resort
            %p 
              Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.    
        .wp-block-cover.cover--right.mt-3
          %img.cover__image(src="../../images/random-image.jpg" alt="")
          .cover__body 
            %h2 About the Resort
            %p 
              Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.    
        %h2 Buttons Example
        .wp-block-buttons.text-center
          .wp-block-button.btn.btn-primary 
            %a.wp-block-button__link{:href=>"#"} Primary
          .wp-block-button.btn.btn-secondary 
            %a.wp-block-button__link{:href=>"#"} Secondary
          .wp-block-button.btn.btn-success 
            %a.wp-block-button__link{:href=>"#"} Success
          .wp-block-button.btn.btn-secondary.btn-lg 
            %a.wp-block-button__link{:href=>"#"} This is a bigger button        
        %h2 Contact Form
        .wp-block-form
          .contact-form
            %form.form.needs-validation(action=""){:novalidate => ""}
              .mb-3
                %input.form-control{:placeholder => "Full name", :type => "text", :required => ""}/
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3
                %input.form-control{:placeholder => "Email", :type => "email", :required => ""}/
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3  
                %input.form-control{:placeholder => "Email Confirmation", :type => "email", :required => ""}/
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3 
                %select#custom-select.form-select{"aria-label" => "Default select example"}
                  %option{:selected => "selected"} Open this select menu
                  %option{:value => "1"} One
                  %option{:value => "2"} Two
                  %option{:value => "3"} Three
              .mb-3
                %textarea#exampleFormControlTextarea1.form-control{:placeholder => "Message", :required => ""}
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3 
                .form-check
                  %input#flexCheckDefault.form-check-input{:type => "checkbox", :value => ""}/
                  %label.form-check-label{:for => "flexCheckDefault"}
                    I'd like to receive monthly updates and special offers
              .mb-3 
                %button.btn.btn-outline-primary.btn-lg.w-100
                  SEND
    
    %footer.lazyload.body-footer#contact-area
      %section.footer.container
        .row
          .col-12 
            .top-bar 
              .top-bar-left 
                .language-switch.language-switch__footer
                  %select#switch_language{:name => "switch_language"}
                    %option{:value => ""} English | 日本語 | 中文
                    %option{"data-alternative-url" => "https://hanazononiseko-staging-pr-83.herokuapp.com/en/special-offers/returning-guest-discount2021", :value => "en"} English
                    %option{"data-alternative-url" => "https://hanazononiseko-staging-pr-83.herokuapp.com/ja/special-offers/returning-guest-discount2021", :value => "ja"} 日本語
                    %option{"data-alternative-url" => "https://hanazononiseko-staging-pr-83.herokuapp.com/zh/special-offers/returning-guest-discount2021", :value => "zh"} 中文
              .top-bar-right.d-md-block.d-none
                %ul.menu.horizontal.social
                  %li 
                    %a(href="#") 
                      %i.bi.bi-facebook
                  %li 
                    %a(href="#") 
                      %i.bi.bi-instagram
                  %li 
                    %a(href="#") 
                      %i.bi.bi-twitter
          .col-md-3 
            %img.body-footer--image(src="../../images/hanazono-logo-square-5a053faa48efe111bfdaad5e2c137b2b4de46079992c19756634822b7fc8700f.svg" alt="Hanazono footer")/
            %a(href="#") 
              %img.body-footer--image.small(src="https://hanazononiseko-staging-pr-83.herokuapp.com/assets/trip-advisor-fec83103f2ce37bd4ec3579f8604bcc2deab100f400f387e087cf608f267b81d.png" alt="")
          .col-md-3
            %h3 Navigation
            %ul.simple.vertical
              %li 
                %a(href="#") Summer Resort Overview
              %li 
                %a(href="#") Summer Activities
              %li 
                %a(href="#") Winter Resort Overview
              %li 
                %a(href="#") Winter Rentals
              %li 
                %a(href="#") Snowsports School
              %li 
                %a(href="#") Winter Activities
              %li 
                %a(href="#") News
              %li 
                %a(href="#") Events
              %li 
                %a(href="#") Special Offers
          .col-md-3
            %h3 Useful Links
            %ul.simple.vertical
              %li 
                %a(href="#") Contact Us
              %li 
                %a(href="#") Lost and Found
              %li 
                %a(href="#") Company
              %li 
                %a(href="#") News Release
              %li 
                %a(href="#") Employment
              %li 
                %a(href="#") Development
              %li 
                %a(href="#") Media Request
              %li 
                %a(href="#") Download Center
              %li 
                %a(href="#") Privacy Policy
              %li 
                %a(href="#") Booking Terms & Conditions - Winter
              %li 
                %a(href="#") Booking Terms & Conditions - Summer
          .col-lg-3
            %h3 Newsletter
            %form.remote-form.clearfix{"accept-charset" => "UTF-8", :action => "https://hanazononiseko-staging-pr-83.herokuapp.com/newsletter_signup", "data-remote" => "true", "data-remote-form-event" => "newsletterSignup", "data-remote-form-failure-message" => "Sorry! Unfortunately there was a problem signing you up, please try again later.", "data-remote-form-success-message" => "Great! You've successful signed up for exciting news about Hanazono!", :method => "post"}
              %input{:name => "utf8", :type => "hidden", :value => "✓"}/
              %input#newsletter_signup_email{:name => "newsletter_signup[email]", :placeholder => "Email Address", :required => "required", :type => "email"}/
              %input#newsletter_signup_context{:name => "newsletter_signup[context]", :type => "hidden", :value => "en"}/
              %button.btn.btn-primary Send
          .col-12.d-block.d-md-none.mt-4
            %ul.menu.horizontal.social
              %li 
                %a(href="#") 
                  %i.bi.bi-facebook
              %li 
                %a(href="#") 
                  %i.bi.bi-instagram
              %li 
                %a(href="#") 
                  %i.bi.bi-twitter
    %p.copyright Copyright @ 2021 hanazononiseko.com All rights reserved.       
    %a.btn.button--book-now__mobile{:href => "https://hanazononiseko-staging-pr-83.herokuapp.com/en/book"} Book Now
    %script{:src => "../../js/bootstrap.min.js"}


