<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Home Page</title>
<link href="https://use.typekit.net/yjp6aky.css" rel="stylesheet">
<link href="../../css/main.css" rel="stylesheet" type="text/css">
<link href="../../css/bootstrap-icons.css" rel="stylesheet" type="text/css">
<link href="https://unpkg.com/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
<div class="container" id="inner-page">
<div class="page-hero">
<a class="btn button--book-now" href="https://hanazononiseko-staging-pr-83.herokuapp.com/en/book">Book Now</a>
<h1>Save 30% every time you book another activity with us!</h1>
<div class="page-hero-image">
<img src="https://hanazononiseko-staging-pr-83.herokuapp.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZzhGIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--23dbbcfec65195a0ffa6157842a3b11f71514704/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RkhKbGMybDZaVjkwYjE5c2FXMXBkRnNIYVFKQUJta0NRQVk9IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--b4b20248a65e9753916eb75209fe505fb39b9584/returning-guest.jpg">
</div>
</div>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item">
<a href="#">Home</a>
</li>
<li aria-current="page" class="breadcrumb-item active">Library</li>
</ol>
</nav>
<div class="wysiwyg-content block-editor-content">
<h2>Returning Guest Discount 30% Off</h2>
<div class="wp-block-columns">
<div class="wp-block-column">
<p>As a big thank you to all our guests who return to Hanazono again, we offer 30% off on your next bookings! This is available every time you book another activity with us during 2021's summer season!</p>
<p>You can choose the next activity different from the one you had the first time! Check out the activities now and make the most of your time in Niseko!</p>
</div>
<div class="wp-block-column">
<figure class="wp-block-image">
<img alt="" src="https://cdn.hanazononiseko.com/uploads/integral/image/file/1689/nennai_rp_hd-jpg.jpg">
</figure>
</div>
</div>
<h2>Activities & price</h2>
<figure class="wp-block-table is-style-striped">
<table>
<thead>
<tr>
<th class="text-center" data-align="center">Activity</th>
<th class="text-center" data-align="center">Regular Price → Returning Guest Price</th>
</tr>
</thead>
<tbody>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/rafting">Rafting</a>
</td>
<td class="text-center" data-align="center">
Adult ¥
<s>5,900</s>
→ ¥4,130<br>Child ¥
<s>3,900</s>
→ ¥2,730
</td>
</tr>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/kids-rafting">Kid's Rafting</a>
</td>
<td class="text-center" data-align="center">
Adult ¥
<s>4,500</s>
→ ¥3,150<br>Child ¥
<s>3,400</s>
→ ¥2,380
</td>
</tr>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/ducky">Ducky</a>
</td>
<td class="text-center" data-align="center">
Adult ¥<s>5,90</s>0 → ¥4,130<br>Child ¥
<s>3,900</s>
→ ¥2,730
</td>
</tr>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/canyoning">Canyoning</a>
</td>
<td class="text-center" data-align="center">
Adult ¥
<s>6,800</s>
→ ¥4,760
</td>
</tr>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/sea-kayaking">Sea Kayaking</a>
</td>
<td class="text-center" data-align="center">
Adult ¥
<s>7,300</s>
→ ¥5,110<br>Child ¥
<s>5,000</s>
→ ¥3,500
</td>
</tr>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/tree-trekking">Tree Trekking</a>
</td>
<td class="text-center" data-align="center">
Adult ¥
<s>4,500</s>
→ ¥3,150<br>Child ¥
<s>3,800</s>
→ ¥2,660
</td>
</tr>
<tr>
<td class="text-center" data-align="center">
<a href="https://hanazononiseko.com/en/summer/activities/cycling">Cycling</a>
</td>
<td class="text-center" data-align="center">
Adult ¥
<s>5,700</s>
→ ¥3,990<br>Child ¥
<s>3,900</s>
→ ¥2,730
</td>
</tr>
</tbody>
</table>
</figure>
<p>
*The activities after the second time can be the same or different from the first one.<br>*If one person is eligible, this discount applies to everyone in the group.<br>*This discount applies to guests booking direct with us and have an email address.
<br>
</p>
<h2>How to use</h2>
<ol>
<li>Receive an email from Hanazono at midnight the day after your first activity.</li>
<li>Check the "discount code" in the email.</li>
<li>Once you've decided on the date of your next booking, just enter the discount code on the booking page!</li>
</ol>
<p>If you would like to make a next booking right after the first activity, please contact us.</p>
<h2>Other Activies</h2>
<p>Hanazono has many more activities to stimulate your curiosity! Click the button below to check them out!</p>
<div class="wp-block-columns">
<div class="wp-block-column">
<figure class="wp-block-image">
<img alt="" class="wp-image-1564" src="https://cdn.hanazononiseko.com/uploads/integral/image/file/1564/kids-rafting_image6-jpg-large.jpg">
</figure>
</div>
<div class="wp-block-column">
<figure class="wp-block-image">
<img alt="" class="wp-image-1564" src="https://cdn.hanazononiseko.com/uploads/integral/image/file/1564/kids-rafting_image6-jpg-large.jpg">
</figure>
</div>
<div class="wp-block-column">
<figure class="wp-block-image">
<img alt="" class="wp-image-1564" src="https://cdn.hanazononiseko.com/uploads/integral/image/file/1564/kids-rafting_image6-jpg-large.jpg">
</figure>
</div>
</div>
<div class="wp-block-buttons text-center">
<div class="wp-block-button btn btn-primary btn-lg">
<a class="wp-block-button__link" href="https://hanazononiseko.com/en/summer/activities">Check other activities</a>
</div>
</div>
<div class="wp-block-group">
<h3>Inquiry</h3>
<div class="wp-block-integral-alert alert alert-secondary" role="alert">
<h5>
Tel:
<a href="#">0136 - 21 - 3333</a>
<br>
Email:
<a href="#">summeractivity@harmonyresorts.com</a>
<br>
Hours: 8:30am 〜 5:30pm
</h5>
</div>
</div>
<div class="wp-block-alert alert alert-primary">
<h5>Prevention Measures Against Covid-19</h5>
<p>This season’s summer activities at Hanazono Niseko Resort will operate while sticking to the following guidelines to ensure the safety of our customers and our employees.</p>
<p>Please read it carefully before making a booking.</p>
<div class="wp-block-buttons">
<div class="wp-block-button btn btn-outline-primary">
<a class="wp-block-button__link" href="https://hanazononiseko.com/en/summer/safetymeasures" rel="noreferrer noopener" target="_blank">ACT AGAINST COVID-19</a>
</div>
</div>
</div>
<h2>Accordion Example</h2>
<div class="wp-block-accordion accordion" id="accordionExample">
<div class="accordion-item">
<h2 class="accordion-header" id="headingOne">
<button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
Accordion Item #1
</button>
</h2>
<div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
<div class="accordion-body">
<strong>This is the first item's accordion body.</strong>
It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
<code>.accordion-body</code>,
</div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header" id="headingTwo">
<button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
Accordion Item #2
</button>
</h2>
<div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
<div class="accordion-body">
<strong>This is the second item's accordion body.</strong>
It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
<code>.accordion-body</code>,
</div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header" id="headingThree">
<button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
Accordion Item #3
</button>
</h2>
<div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
<div class="accordion-body">
<strong>This is the third item's accordion body.</strong>
It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
<code>.accordion-body</code>,
</div>
</div>
</div>
</div>
<h2>Special Offers Block</h2>
<div class="row">
<div class="col-md-4">
<div class="wp-block-integral-card">
<a href="#">
<img alt="Random" src="../../images/random-image.jpg">
<div class="card__label">30%OFF</div>
</a>
<div class="card-section">
<h3 class="card__title">
<a href="#">RETURNING GUEST DISCOUNT 30% Off</a>
</h3>
<hr class="card__divider">
<div class="card-body">
<span class="card__offer">
<i class="bi bi-calendar"></i>
Expires Oct 31
</span>
<p>Big thank you to all our guests who return to Hanazono again! Save 30% every time you book another activity with us during 2021's summer season!</p>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="wp-block-integral-card">
<a href="#">
<img alt="Random" src="../../images/random-image.jpg">
<div class="card__label">30%OFF</div>
</a>
<div class="card-section">
<h3 class="card__title">
<a href="#">RETURNING GUEST DISCOUNT 30% Off</a>
</h3>
<hr class="card__divider">
<div class="card-body">
<span class="card__offer">
<i class="bi bi-calendar"></i>
Expires Oct 31
</span>
<p>Big thank you to all our guests who return to Hanazono again! Save 30% every time you book another activity with us during 2021's summer season!</p>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="wp-block-integral-card">
<a href="#">
<img alt="Random" src="../../images/random-image.jpg">
<div class="card__label">30%OFF</div>
</a>
<div class="card-section">
<h3 class="card__title">
<a href="#">RETURNING GUEST DISCOUNT 30% Off</a>
</h3>
<hr class="card__divider">
<div class="card-body">
<span class="card__offer">
<i class="bi bi-calendar"></i>
Expires Oct 31
</span>
<p>Big thank you to all our guests who return to Hanazono again! Save 30% every time you book another activity with us during 2021's summer season!</p>
</div>
</div>
</div>
</div>
</div>
<h2>Review Block</h2>
<div class="wp-block-integral-card">
<div class="card-body">
<h5 class="card-title">
Patrick Lindsay
</h5>
<div class="card__review-rating">
<i class="bi bi-star-fill"></i>
<i class="bi bi-star-fill"></i>
<i class="bi bi-star-fill"></i>
<i class="bi bi-star-fill"></i>
<p>This is a review example</p>
</div>
</div>
</div>
<h2>Cover Blocks</h2>
<div class="wp-block-cover cover--full mt-5 mb-5">
<img alt="" class="cover__image" src="../../images/random-image.jpg">
<div class="cover__body">
<h2>About the Resort</h2>
<p>
Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.
</p>
</div>
</div>
<div class="wp-block-cover cover--left mt-3">
<img alt="" class="cover__image" src="../../images/random-image.jpg">
<div class="cover__body">
<h2>About the Resort</h2>
<p>
Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.
</p>
</div>
</div>
<div class="wp-block-cover cover--right mt-3">
<img alt="" class="cover__image" src="../../images/random-image.jpg">
<div class="cover__body">
<h2>About the Resort</h2>
<p>
Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.
</p>
</div>
</div>
<h2>Buttons Example</h2>
<div class="wp-block-buttons text-center">
<div class="wp-block-button btn btn-primary">
<a class="wp-block-button__link" href="#">Primary</a>
</div>
<div class="wp-block-button btn btn-secondary">
<a class="wp-block-button__link" href="#">Secondary</a>
</div>
<div class="wp-block-button btn btn-success">
<a class="wp-block-button__link" href="#">Success</a>
</div>
<div class="wp-block-button btn btn-secondary btn-lg">
<a class="wp-block-button__link" href="#">This is a bigger button</a>
</div>
</div>
<h2>Contact Form</h2>
<div class="wp-block-form">
<div class="contact-form">
<form action="" class="form needs-validation" novalidate="">
<div class="mb-3">
<input class="form-control" placeholder="Full name" required="" type="text">
<div class="invalid-feedback text-danger">
can't be blank.
</div>
</div>
<div class="mb-3">
<input class="form-control" placeholder="Email" required="" type="email">
<div class="invalid-feedback text-danger">
can't be blank.
</div>
</div>
<div class="mb-3">
<input class="form-control" placeholder="Email Confirmation" required="" type="email">
<div class="invalid-feedback text-danger">
can't be blank.
</div>
</div>
<div class="mb-3">
<select aria-label="Default select example" class="form-select" id="custom-select">
<option selected="selected">Open this select menu</option>
<option value="1">One</option>
<option value="2">Two</option>
<option value="3">Three</option>
</select>
</div>
<div class="mb-3">
<textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" required=""></textarea>
<div class="invalid-feedback text-danger">
can't be blank.
</div>
</div>
<div class="mb-3">
<div class="form-check">
<input class="form-check-input" id="flexCheckDefault" type="checkbox" value="">
<label class="form-check-label" for="flexCheckDefault">
I'd like to receive monthly updates and special offers
</label>
</div>
</div>
<div class="mb-3">
<button class="btn btn-outline-primary btn-lg w-100">
SEND
</button>
</div>
</form>
</div>
</div>
</div>
</div>
<footer class="lazyload body-footer" id="contact-area">
<section class="footer container">
<div class="row">
<div class="col-12">
<div class="top-bar">
<div class="top-bar-left">
<div class="language-switch language-switch__footer">
<select id="switch_language" name="switch_language">
<option value="">English | 日本語 | 中文</option>
<option data-alternative-url="https://hanazononiseko-staging-pr-83.herokuapp.com/en/special-offers/returning-guest-discount2021" value="en">English</option>
<option data-alternative-url="https://hanazononiseko-staging-pr-83.herokuapp.com/ja/special-offers/returning-guest-discount2021" value="ja">日本語</option>
<option data-alternative-url="https://hanazononiseko-staging-pr-83.herokuapp.com/zh/special-offers/returning-guest-discount2021" value="zh">中文</option>
</select>
</div>
</div>
<div class="top-bar-right d-md-block d-none">
<ul class="menu horizontal social">
<li>
<a href="#">
<i class="bi bi-facebook"></i>
</a>
</li>
<li>
<a href="#">
<i class="bi bi-instagram"></i>
</a>
</li>
<li>
<a href="#">
<i class="bi bi-twitter"></i>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="col-md-3">
<img alt="Hanazono footer" class="body-footer--image" src="../../images/hanazono-logo-square-5a053faa48efe111bfdaad5e2c137b2b4de46079992c19756634822b7fc8700f.svg">
<a href="#">
<img alt="" class="body-footer--image small" src="https://hanazononiseko-staging-pr-83.herokuapp.com/assets/trip-advisor-fec83103f2ce37bd4ec3579f8604bcc2deab100f400f387e087cf608f267b81d.png">
</a>
</div>
<div class="col-md-3">
<h3>Navigation</h3>
<ul class="simple vertical">
<li>
<a href="#">Summer Resort Overview</a>
</li>
<li>
<a href="#">Summer Activities</a>
</li>
<li>
<a href="#">Winter Resort Overview</a>
</li>
<li>
<a href="#">Winter Rentals</a>
</li>
<li>
<a href="#">Snowsports School</a>
</li>
<li>
<a href="#">Winter Activities</a>
</li>
<li>
<a href="#">News</a>
</li>
<li>
<a href="#">Events</a>
</li>
<li>
<a href="#">Special Offers</a>
</li>
</ul>
</div>
<div class="col-md-3">
<h3>Useful Links</h3>
<ul class="simple vertical">
<li>
<a href="#">Contact Us</a>
</li>
<li>
<a href="#">Lost and Found</a>
</li>
<li>
<a href="#">Company</a>
</li>
<li>
<a href="#">News Release</a>
</li>
<li>
<a href="#">Employment</a>
</li>
<li>
<a href="#">Development</a>
</li>
<li>
<a href="#">Media Request</a>
</li>
<li>
<a href="#">Download Center</a>
</li>
<li>
<a href="#">Privacy Policy</a>
</li>
<li>
<a href="#">Booking Terms & Conditions - Winter</a>
</li>
<li>
<a href="#">Booking Terms & Conditions - Summer</a>
</li>
</ul>
</div>
<div class="col-lg-3">
<h3>Newsletter</h3>
<form accept-charset="UTF-8" action="https://hanazononiseko-staging-pr-83.herokuapp.com/newsletter_signup" class="remote-form clearfix" data-remote-form-event="newsletterSignup" data-remote-form-failure-message="Sorry! Unfortunately there was a problem signing you up, please try again later." data-remote-form-success-message="Great! You&#39;ve successful signed up for exciting news about Hanazono!" data-remote="true" method="post">
<input name="utf8" type="hidden" value="✓">
<input id="newsletter_signup_email" name="newsletter_signup[email]" placeholder="Email Address" required="required" type="email">
<input id="newsletter_signup_context" name="newsletter_signup[context]" type="hidden" value="en">
<button class="btn btn-primary">Send</button>
</form>
</div>
<div class="col-12 d-block d-md-none mt-4">
<ul class="menu horizontal social">
<li>
<a href="#">
<i class="bi bi-facebook"></i>
</a>
</li>
<li>
<a href="#">
<i class="bi bi-instagram"></i>
</a>
</li>
<li>
<a href="#">
<i class="bi bi-twitter"></i>
</a>
</li>
</ul>
</div>
</div>
</section>
</footer>
<p class="copyright">Copyright @ 2021 hanazononiseko.com All rights reserved.</p>
<a class="btn button--book-now__mobile" href="https://hanazononiseko-staging-pr-83.herokuapp.com/en/book">Book Now</a>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>
