.block-editor-content{
  & > h5{
    margin: $spacer 0;
  }
  & > h4{
    margin: $spacer 0;
  }
  & > h3{
    margin: $spacer 0;
  }
  & > h2{
    margin: 2.5*$spacer 0;
    font-size: 2.5rem;
  }

  & > p{
    margin-bottom: $spacer*1.5;
  }
}