// This shouldn't required any overriding if it is properly styled within bs-blocks

.wp-block-button{
  display: inline-block;
  text-transform: uppercase;
  width: auto;
  &__link{
    color: currentColor;
    &:hover{
      color: currentColor;
    }
    
  }
}
