// scss-docs-start card-variables
$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     0;
$card-title-spacer-y:               $spacer / 2 !default;
$card-border-width:                 0;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y / 2 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           transparent;
$card-img-overlay-padding:          5*$spacer;
$card-group-margin:                 $grid-gutter-width / 2 !default;
// scss-docs-end card-variables

//
// Base styles
//

.card {
  position: relative;
  display: flex;  
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: $card-height;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group {
    border-top: inherit;
    border-bottom: inherit;

    &:first-child {
      border-top-width: 0;
      @include border-top-radius($card-inner-border-radius);
    }

    &:last-child  {
      border-bottom-width: 0;
      @include border-bottom-radius($card-inner-border-radius);
    }
  }

  // Due to specificity of the above selector (`.card > .list-group`), we must
  // use a child selector here to prevent double borders.
  > .card-header + .list-group,
  > .list-group + .card-footer {
    border-top: 0;
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  padding: $card-spacer-y $card-spacer-x;
  color: $card-color;
  
  
}

.card-title {
  margin-bottom: $card-title-spacer-y;  
}

.card-subtitle {
  margin-top: -$card-title-spacer-y / 2;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  &:hover {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: $card-cap-padding-y $card-cap-padding-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: $card-cap-color;
  background-color: $card-cap-bg;
  border-bottom: $card-border-width solid $card-border-color;

  &:first-child {
    @include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);
  }
}

.card-footer {
  padding: 0;
  color: $card-cap-color;
  background-color: transparent;
  border-top: $card-border-width solid $card-border-color;
  &:last-child {
    @include border-radius(0 0 $card-inner-border-radius $card-inner-border-radius);
  }
}


//
// Header navs
//

.card-header-tabs {
  margin-right: -$card-cap-padding-x / 2;
  margin-bottom: -$card-cap-padding-y;
  margin-left: -$card-cap-padding-x / 2;
  border-bottom: 0;

  @if $nav-tabs-link-active-bg != $card-bg {
    .nav-link.active {
      background-color: $card-bg;
      border-bottom-color: $card-bg;
    }
  }
}

.card-header-pills {
  margin-right: -$card-cap-padding-x / 2;
  margin-left: -$card-cap-padding-x / 2;
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
  @include border-radius($card-inner-border-radius);
  color: $white;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
  
}

.card-img,
.card-img-top {
  @include border-top-radius($card-inner-border-radius);
}

.card-img,
.card-img-bottom {
  @include border-bottom-radius($card-inner-border-radius);
}


//
// Card groups
//

.card-group {
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-end-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-start-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-disallowed-list
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-disallowed-list
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}

/*CUSTOM STYLES*/
.card-img{
  &-top{
    width: 100%;
    height: 13rem;
    object-fit: cover;
  }
}
.card{
  // full height in the column
  flex: 1;
  // height: 100%;
  // Body always be the remainder space
  &-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  // footer always be at the bottom of the card
  &-footer{
    margin-top: auto;
  }
  &-link{
    width: 100%;
    text-align: left;
    position: relative;
    padding-left: 0;
    padding-right: 1.5rem;
    &:before{
      content: "\27F6";
      position: absolute;
      right: .25rem;
    }
  }

  // CARD REVIEW
  &__review{
    background: $white;
    &-rating{
      margin-bottom: $spacer;
    }
    .card-body{
      padding: $spacer;
    }
    .card-title{
      margin-bottom: 0;      
    }
  }

  //CARD SPECIAL OFFER
  &__horizontal-post{
    .card-title{
      font-size: $spacer;
      @include media-breakpoint-up(md){
        font-size: $spacer*1.275;
      }
    }
    .card-text{
      display: none;
      @include media-breakpoint-up(md){
        display: block;
      }
    }
    .card-image{
      object-fit: cover;
      width: 100%;
      @include media-breakpoint-up(md){
        height: 10rem;

      }
    }
  }
  &__offer-link{
    position: relative;
  }
  &__label{
    position: absolute;
    bottom: $spacer;
    left: 0;
    font-size: $font-size-sm*0.85;
    text-transform: uppercase;
  }
  &__calendar{
    display: flex;
    margin-top: 0.5*$spacer;
    p{
      margin-left: $spacer;
      
    }
  }

  //BLOG CARDS CONFIG
  &__big-post{
    margin: $spacer 0;
    .card-img-top{
      height: 15.625*$spacer;
      @include media-breakpoint-up(md){
        height: 31.25*$spacer;
      }
    }
  }
}