// .resort-status{
//   grid-column: 1 / -1;
//   background: $secondary;
//   color: $white;
//   padding: $spacer;
//   font-size: 60%;
//   font-family: $headings-font-family;
//   @include media-breakpoint-up(md){
//     padding: 2*$spacer 2.5*$spacer;
//     font-size: 100%;
//    }
//   @include media-breakpoint-up(lg){
//     grid-column: 1 / span 2;
//   }
//   h4{
//     font-size: .75*$spacer;
//     @include media-breakpoint-up(md){
//       font-size: .9*$spacer;
//     }
//   }


//   &--buttons{
//     display: flex;
//     margin-top: $spacer;
//     flex-wrap: wrap;
//     & > * {
//       flex: 1;
//       @include media-breakpoint-up(md){
//         flex: 0 0 100%;

//       }
//     }
//     & > *:first-child{
//       margin-right: $spacer;
//       @include media-breakpoint-up(md){
//         margin-bottom: $spacer;
//       }
//     }

//   }
//  /*SPACER*/
//  &--spacer{
//    height: $spacer;
//  }

 
 
 
//   /*WEATHER*/ 
//   &--weather-icon{
//     font-size: $spacer*4;
//     @include media-breakpoint-up(md){
//       font-size: $spacer*5;
//     }
//   }  
//   /*WIND*/
//  &--wind-speed-value{
//    font-size: 3*$spacer;
//    line-height: 1;
//    @include media-breakpoint-up(md){
//     font-size: 3.75*$spacer;
//    }
//  }
//   /*TEMPERATURE*/
//   &--temperature{
//     display: flex;
//     align-items: flex-end;
//   }
//   &--current-temperature{
//     font-size: 2.5*$spacer;
//     @include media-breakpoint-up(md){
//       font-size: 3.75*$spacer;
//      }

//   }
//   &--estimated-temperatures{
//     flex-grow: 1;
//   }
//   &--estimated-temperature{
//     display: flex;
//     justify-content: space-between;
//     margin-left: $spacer;
//     @include media-breakpoint-up(md){
//       margin-left: 2*$spacer;
//      }

//     &-icon{
//       font-size: $spacer;
//       @include media-breakpoint-up(md){
//       font-size: 1.5*$spacer;
//    }
//     }
//     &-metric {
//       font-size: $spacer;
//       @include media-breakpoint-up(md){
//       font-size: 1.5*$spacer;
//    }
//     }
//   }
//   /*SNOW CONDITION*/
//   &--snow-condition{
//     margin-top: 2.5*$spacer;
//     font-size: .95*$spacer;
//     font-weight: bold;
//     text-align: center;
//     display: block;
//     text-transform: uppercase;
//   }
//   /*SNOWFALL*/
//   &--snowfall{
//     display: flex;
//     align-items: flex-end;
//     justify-content: space-between;
//     margin-top: .5*$spacer;
//     &:first-child{
//       margin-top: 1.75*$spacer;
//     }
//     &-location{
//       font-size: .6*$spacer;
//       @include media-breakpoint-up(md){
//         font-size:.75*$spacer;
//        }
//       span{
//         display: block;
//       }
//     }
//     &-data{
//       display: inline-flex;
//       align-items: flex-end;
//     }
//     &-value{
//       line-height: 1;
//       font-size: $spacer;
//       @include media-breakpoint-up(md){
//         font-size: 1.75*$spacer;
//        }
//     }
//     &-metric{
//       line-height: 1;
//       margin-left: 3px;
//     }

//   }
  
 
// }


.resort-status {
  grid-column: 1 / -1;  
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  color: $white;
  background-color: $secondary;
  font-family: $headings-font-family;
  @include media-breakpoint-down(sm) {
    padding: 1rem;
    font-size: 60%
  }
  @include media-breakpoint-up(lg) {
    grid-column: 1 / span 2;
    padding: 1.5rem;
  }
  h4 {
    color: $white;
    text-transform: uppercase;
    font-size: .9rem;
    @include media-breakpoint-down(sm) {
      font-size: .75rem;
    }
  }
  &--weather-icon {
    font-size: 5rem;
    @include media-breakpoint-down(sm) {
      font-size: 4rem;
    }
  }
  &--wind-speed-value, &--current-temperature {
    font-size: 3.75rem;
    line-height: 1;
    @include media-breakpoint-down(sm) {
      font-size: 3rem;
    }
    @include media-breakpoint-only(lg) {
      font-size: 3.5rem;
    }
  }
  &--spacer {
    height: 1rem;
  }
  &--snow-condition {
    margin-top: 2.5rem;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: .95rem;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      margin-top: 1.5rem;
    }
  }
  &--buttons {
    .btn{
      margin-bottom: 1rem;
    }
    @include media-breakpoint-down(sm) {
      display: flex;
      margin-top: 1.5rem;
      .btn {
        margin-bottom: 0;
        &:last-child{
          margin-left: 1rem;
        }
      }
    }
  }
  &--temperature {
    display: flex;
    align-items: flex-end;
  }
  &--estimated-temperatures {
    flex-grow: 1;
  }
  &--estimated-temperature-icon {
    font-size: 1.5rem;
    &::before {
      vertical-align: sub;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }
  &--estimated-temperature {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    @include media-breakpoint-down(sm) {
      margin-left: 1rem;
      align-items: center;
    }
    @include media-breakpoint-only(lg) {
      margin-left: 1rem;
  }
  }
  &--estimated-temperature-metric {
    font-size: 1.5rem;
  }

  &--snowfall {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  &--snowfall-location {
    font-size: .75rem;
    span {
      display: block;
    }
    @include media-breakpoint-down(sm) {
      font-size: .6rem;
    }
  }
  &--snowfall-value {
    line-height: 1;
    font-size: 1.75rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.25rem;
    }
  }
  &--snowfall-metric {
    line-height: 1;
    margin-left: 3px;
    @include media-breakpoint-down(sm) {
      margin-left: 2px;
    }

  }
  &--snowfall-data {
    display: inline-flex;
    align-items: flex-end;
  }
}