.season-switcher {
  &-title {
    font-family: $headings-font-family;
  }
  .btn {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    margin: 0;
    font-size: .8rem;
    text-transform: capitalize;
    &:hover {
      background-color: $white;
      color: #242e3d;
    }
  }
}