// scss-docs-start table-variables
$table-cell-padding-y:        .65rem;

$table-color:                 $body-color !default;
$table-bg:                    transparent !default;

$table-striped-color:         $table-color !default;
$table-striped-bg-factor:     .05 !default;
$table-striped-bg:            rgba($black, $table-striped-bg-factor) !default;

$table-active-color:          $table-color !default;
$table-active-bg-factor:      .1 !default;
$table-active-bg:             rgba($black, $table-active-bg-factor) !default;

$table-hover-color:           $table-color !default;
$table-hover-bg-factor:       .075 !default;
$table-hover-bg:              rgba($black, $table-hover-bg-factor) !default;

$table-border-width:          $border-width;
$table-border-color:          $white;
// scss-docs-end table-variables
.wp-block-table{
  margin-bottom: $spacer*1.5;
  overflow-x: auto;
  table {
    --#{$variable-prefix}table-bg: #{$table-bg};
    --#{$variable-prefix}table-striped-color: #{$table-striped-color};
    --#{$variable-prefix}table-striped-bg: #{$table-striped-bg};
    --#{$variable-prefix}table-active-color: #{$table-active-color};
    --#{$variable-prefix}table-active-bg: #{$table-active-bg};
    --#{$variable-prefix}table-hover-color: #{$table-hover-color};
    --#{$variable-prefix}table-hover-bg: #{$table-hover-bg};
  
    width: 100%;
    margin-bottom: $spacer;
    color: $table-color;
    vertical-align: $table-cell-vertical-align;
    border-color: $table-border-color;
    overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    > :not(caption) > * > * {
      padding: $table-cell-padding-y $table-cell-padding-x;
      background-color: var(--#{$variable-prefix}table-bg);
      border-bottom-width: $table-border-width;
      box-shadow: inset 0 0 0 9999px var(--#{$variable-prefix}table-accent-bg);
    }
  
    > tbody {
      vertical-align: inherit;
    }
    > tbody > tr > th {
      text-align: center;
    }
  
    > thead {
      vertical-align: bottom;
      background: $secondary;
      color: $white;
    }
    > thead > tr > th:first-child{
      text-align: center;
    }
  
    // Highlight border color between thead, tbody and tfoot.
    > :not(:last-child) > :last-child > * {
      border-bottom-color: $table-group-separator-color;
    }
    //border
    > :not(caption) > * {
      border-width: $table-border-width 0;
  
      // stylelint-disable-next-line selector-max-universal
      > * {
        border-width: 0 $table-border-width;
      }
    }
  }

  &.is-style-striped{
   table > tbody > tr:nth-of-type(#{$table-striped-order}) {
      --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
      color: var(--#{$variable-prefix}table-striped-color);
    }
  }
}