.wp-block-book-now{
  color: $white;
  padding: 3rem;
  background-color: #ada28a;
  @include media-breakpoint-only(md){
    padding: 2rem;
  }
  @include media-breakpoint-down(sm){
    padding: 2rem 1rem;
  }
  h2{
    color: $white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  &--subtitle{
    color: #cec7b9;
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  .season-switcher {
    justify-content: center;
    margin-bottom: 1rem;
    .btn {
      text-transform: uppercase;
      margin-right: 1rem;
      padding: .45rem 4rem;
      font-weight: bold;
      font-size: 1rem;
      border: 2px solid $white;
      &.active{
        background-color: $white;
        color: #242e3d;
      }
      @include media-breakpoint-down(sm) {
        padding: .75rem 1rem;
        margin-right: 0.5rem;
      }
    }
  }
  .nav-tabs{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 1rem 0;
    flex-wrap: wrap;
  }
  .tabs-title{
    background:none;
    border: none;
    color: #cec7b9;
    font-size: 1rem;
    border-bottom: 4px solid #cec7b9;
    margin: 0 0.5rem;
    padding: .9rem 1.5rem;    

    &:focus, &.active{
      color: $secondary;
      border-bottom-color: $secondary;
    }
  }
  .tab-pane{
    margin-top: 2rem;
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
      list-style: none;
      justify-content: center;
      align-items: flex-end;
      padding-left: 0;
    }
    li {
      margin-right: 1rem;
      & > * {
        margin-bottom: 1rem;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;
        a, button {
          width: 100%;
        }
      }
      label {
        color: $secondary;
        margin-bottom: 0;
        @include media-breakpoint-down(sm){
          display: none;
        }
      }
      button {
        padding: .45rem 3rem;
        color: $secondary;
        &:hover{
          background-color: #fff100;
        }
      }
      a{
        &.btn{
          color: $secondary;
          border: none;
        text-transform: none;
        font-family: $font-family-sans-serif;
        background-color: transparent;
        &:after {
          content: "\27F6";
          margin-left: 1rem;
        }
          &:hover{
            color: $black;
          }
        }
      }
   }
 }
 .tab-list{
   a.btn{
     font-weight: 400;
     &.btn-lg{
       font-size: 1.25rem;
     }
   }
 }
 input[type='text'] {
  border: none;
  color: $secondary;
 }
input:disabled, input[readonly], textarea:disabled, textarea[readonly] {
  background-color: $white;
  cursor: pointer;
 }


}