.hero{
  max-width: 80rem;
  margin: auto;
}
.page-hero {
  position: relative;
  margin-bottom: 1rem;

  h1 {
    position: absolute;
    top: 40%;
    left: 50px;
    margin: 1rem 0;
    color: $white;
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    z-index: 1;
    span.label {
      vertical-align: super;
      color: #fff;
      background-color: #000022;
    }
    .btn.small {
      color: $white;
      font-size: 35%;
      margin: 0;
      vertical-align: super;
    }
  }
  &-image {
    &:before {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($black, 10%);
    }
    img {
      object-fit: cover;
      height: 300px;
      width: 100%;
    }
  }
  .btn{
    color: $white;
    background: $primary;
    padding: .5rem 2rem;
    font-size: .9rem;
    &:hover{
      background: #897a59;
    }
  }
}
.button--book-now {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: .75rem 2rem;
  z-index: 1;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.button--book-now__mobile {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  background-color: #9f8f6b;
  color: $white;
  width: 100%;
  z-index: 9999;
  @include media-breakpoint-up(sm) {
    display: none;
  }
}