// scss-docs-start card-variables
$card-spacer-x:                     0;
$card-border-width:                 0;
$card-bg:                           transparent;
$card-img-overlay-padding:          5*$spacer;
// scss-docs-end card-variables


@import "../../../node_modules/bootstrap/scss/card";

/*CUSTOM STYLES*/
// .card-img{
//   &-top{
//     width: 100%;
//     height: 13rem;
//     object-fit: cover;
//   }
// }
// .card{
//   // full height in the column
//   flex: 1;
//   // height: 100%;
//   // Body always be the remainder space
//   &-body{
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }
//   // footer always be at the bottom of the card
//   &-footer{
//     margin-top: auto;
//     background: none;
//     padding-left: 0;
//   }
//   &-link{
//     width: 100%;
//     text-align: left;
//     position: relative;
//     padding-left: 0;
//     padding-right: 1.5rem;
//     font-family: $headings-font-family;
//     &:before{
//       content: "\27F6";
//       position: absolute;
//       right: .25rem;
//     }
//   }

//   // CARD REVIEW
//   &__review{
//     background: $white;
//     &-rating{
//       margin-bottom: $spacer;
//     }
//     .card-body{
//       padding: $spacer;
//     }
//     .card-title{
//       margin-bottom: 0;      
//     }
//   }

//   //CARD SPECIAL OFFER
//   &__horizontal-post{
//     border-bottom: 1px solid $gray-400;
//     padding-bottom: $spacer;
//     .card-title{
//       font-size: $spacer;
//       @include media-breakpoint-up(md){
//         font-size: $spacer*1.275;
//       }
//     }
//     .card-text{
//       display: none;
//       @include media-breakpoint-up(md){
//         display: block;
//       }
//     }
//     .card-img{
//       object-fit: cover;
//       width: 100%;
//       @include media-breakpoint-up(md){
//         height: 156px;

//       }
//     }
//   }
//   &__offer-link{
//     position: relative;
//   }
//   &__label{
//     position: absolute;
//     bottom: $spacer;
//     left: 0;
//     font-size: $font-size-sm*0.85;
//     text-transform: uppercase;
//   }
//   &__calendar{
//     display: flex;
//     margin-top: 0.5*$spacer;
//     p{
//       margin-left: $spacer;
      
//     }
//   }

//   //BLOG CARDS CONFIG
//   &__big-post{
//     margin: $spacer 0;
//     .card-img-top{
//       height: 15.625*$spacer;
//       @include media-breakpoint-up(md){
//         height: 31.25*$spacer;
//       }
//     }
//   }
// }