// scss-docs-start nav-variables

$nav-tabs-border-width:             0;
$nav-tabs-border-radius:            0;
// scss-docs-end nav-variables

@import "../../../node_modules/bootstrap/scss/nav";


/*CUSTOM STYLES*/

// .nav-tabs{
//   display: flex;
//   justify-content: center;
//   .nav-link{
//     background: transparent;
//     border: 1px solid $white;
//     color: $white;
//     font-weight: 700;
//     padding: .75*$spacer 4*$spacer;
//     font-family: $headings-font-family;
//     &:hover{
//       background: $white;
//       color: $primary;
//     }
//     &.active{
//       background: $white;
//       color: $primary;
//     }
//   }
//   .nav-list-link{
//     background:transparent;
//     border: none;
//     padding: .9*$spacer 1.5*$spacer;
//     border-bottom: 4px solid currentColor;
//     color: $white;
//     font-weight: 700;
//     &.active{
//       color: $primary;
//     }
//     &:not(:last-child){
//       margin-right: $spacer;
//     }
//   }
  
// }
// .tab{
//   &-list{
//     list-style: none;
//     padding-left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
//     flex-wrap: wrap;
//     margin-top: 3*$spacer;
//     li{
//       width: 100%;
//       text-align: center;
//       @include media-breakpoint-up(md){
//         width: auto;
//         text-align: left;
//       }
//       &:not(:last-child){
//         margin-bottom: $spacer;
//         @include media-breakpoint-up(md){
//           margin-right: $spacer;
//           margin-bottom: 0;
//         }
//       }
//       label{
//         display: none;
//         @include media-breakpoint-up(md){
//           display: block;
//         }
//       }
//       button{
//         width: 100%;
//         @include media-breakpoint-up(md){
//           width: auto;
//         }
//       }
//     }
//   }
// }