!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{href: "https://use.typekit.net/yjp6aky.css", rel:"stylesheet"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/main.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/bootstrap-icons.css"}
    %title blocks
  %body
    .main-content.container      
      .wp-block-columns.row
        .wp-block-column.col-md-12 
          %h2.mb-5 Hero Example
          .hero.hero--inner
            %a.btn.btn-secondary.hero__button{:href=>"#"} Book Now
            %h1.text-white This is the Hero title
            .hero__img
              %img{:src=> "images/random-image.jpg"}
          %nav.mt-2{"aria-label" => "breadcrumb"}
            %ol.breadcrumb
              %li.breadcrumb-item
                %a{:href => "#"} Home
              %li.breadcrumb-item.active{"aria-current" => "page"} Library
        .wp-block-column.col-md-12 
          %h3 Accordion Example
          .wp-block-integral-accordion#accordionExample.accordion
          .accordion-item
            %h2#headingOne.accordion-header
              %button.accordion-button{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #1
            #collapseOne.accordion-collapse.collapse.show{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the first item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
          .accordion-item
            %h2#headingTwo.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-bs-target" => "#collapseTwo", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #2
            #collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the second item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
          .accordion-item
            %h2#headingThree.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-bs-target" => "#collapseThree", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #3
            #collapseThree.accordion-collapse.collapse{"aria-labelledby" => "headingThree", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the third item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
        .wp-block-column.col-md-12
          %h3 Card Example
          .wp-block-integral-card.card
            %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
            .card-body
              %h5.card-title Card title
              %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              %a.btn.btn-primary{:href => "#"} Go somewhere
        .wp-block-column.col-md-12
          %h3 Alert Example
          .wp-block-integral-alert.alert.alert-primary{:role => "alert"}
            A simple primary alert—check it out!
          .wp-block-integral-alert.alert.alert-secondary{:role => "alert"}
            A simple secondary alert—check it out!
          .wp-block-integral-alert.alert.alert-warning{:role => "alert"}
            A simple warning alert—check it out!
          .wp-block-integral-alert.alert.alert-danger{:role => "alert"}
            A simple danger alert—check it out!
        .wp-block-column.col-md-12.mt-5
          %h3 Button Examples
          .wp-block-buttons.text-center
            .wp-block-button.btn.btn-primary 
              %a.wp-block-button__link{:href=>"#"} Primary
            .wp-block-button.btn.btn-secondary 
              %a.wp-block-button__link{:href=>"#"} Secondary
            .wp-block-button.btn.btn-success 
              %a.wp-block-button__link{:href=>"#"} Success
            .wp-block-button.btn.btn-secondary.btn-lg 
              %a.wp-block-button__link{:href=>"#"} This is a bigger button         
          
        .wp-block-column.col-md-12.mt-5 
          %h3 Cover Examples
          .wp-block-integral-cover.cover.cover--full.mt-5.mb-5 
            %img.cover__image(src="images/random-image.jpg" alt="")
            .cover__body 
              %h2 About the Resort
              %p 
                Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.    
          .wp-block-integral-cover.cover.cover--left.mt-3
            %img.cover__image(src="images/random-image.jpg" alt="")
            .cover__body 
              %h2 About the Resort
              %p 
                Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.    
        .wp-block-integral-cover.cover.cover--right.mt-3
          %img.cover__image(src="images/random-image.jpg" alt="")
          .cover__body 
            %h2 About the Resort
            %p 
              Hanazono Niseko is internationally renowned for its consistently high falls of light powder snow and its long ski season which runs from early December until April. Averaging around 15m+ of snow each season, Hanazono is famous for its wide-open powder bowls and tree runs. The resort is family-friendly with a large open area for the resort operated ski school and lots of activities such for both adults and children. The resort center "HANAZONO 308", offers all kinds of services, including a lift ticket sale, a high-quality gear rental, an arrangement of lessons, and a variety of activities. A cutting-edge slope-side restaurant “HANAZONO EDGE” complements the resort, with an exciting restaurant, café, and bar.    
        .wp-block-column.col-md-12.mt-5
          %h3 Event Posts Block
          .wp-block-itengral-card.card.card__horizontal-post
            .row 
              .col-4 
                %a{:href=>"#"}
                  %img.card-img(src="images/random-image.jpg" alt="random image")/
              .col-8
                %a.card-title.link{:href => "#"} 5 reasons why we love spring skiing & snowboarding
                %p.card-text Take advantage of big discounts to celebrate the sunshine and blue skies on the slopes of Hanazono!
                .card-footer
                  %ul.list-group.list-group-horizontal.list-group-piped
                    %li.list-group-item.text-muted March 25,2021
                    %li.list-group-item.text-muted Uncategorised 
        .wp-block-column.col-md-12.mt-5
          %h3 Recent Posts Block
          .row
            .wp-block-column.col-md-4 
              .wp-block-itengral-card.card
                %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                .card-body
                  %h5.card-title Copy Integral CMS - Demo Post
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  .card-footer
                    %ul.list-group.list-group-horizontal.list-group-piped
                      %li.list-group-item.text-muted March 25,2021
                      %li.list-group-item.text-muted Uncategorised 
            .wp-block-column.col-md-4 
              .wp-block-itengral-card.card
                %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                .card-body
                  %h5.card-title Copy Integral CMS - Demo Post
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  .card-footer
                    %ul.list-group.list-group-horizontal.list-group-piped
                      %li.list-group-item.text-muted March 25,2021
                      %li.list-group-item.text-muted Uncategorised 
            .wp-block-column.col-md-4 
              .wp-block-itengral-card.card
                %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                .card-body
                  %h5.card-title Copy Integral CMS - Demo Post
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  .card-footer
                    %ul.list-group.list-group-horizontal.list-group-piped
                      %li.list-group-item.text-muted March 25,2021
                      %li.list-group-item.text-muted Uncategorised 
          %h3.mt-5.mb-5 Special Offers blocks 
          .wp-block-columns.row
            .wp-block-column.col-md-4 
              .wp-block-itengral-card.card
                %a.card__offer-link{:href=>"#"}
                  %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                  .card__label.text-white.bg-secondary.btn 30% OFF
                .card-body
                  %a.text-secondary.fw-bold.fs-5.card-link{:href => "#"} RETURNING GUEST DISCOUNT 30% Off
                  .card__calendar 
                    %span
                      %i.bi.bi-calendar
                    %p Expires Oct 31 
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  
            .wp-block-column.col-md-4 
              .wp-block-itengral-card.card
                %a.card__offer-link{:href=>"#"}
                  %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                  .card__label.text-white.bg-secondary.btn discount ticket
                .card-body
                  %a.text-secondary.fw-bold.fs-5.card-link{:href => "#"} ONSEN DISCOUNT FOR HANAZONO ACTIVITY GUESTS!
                  .card__calendar 
                    %span
                      %i.bi.bi-calendar
                    %p Expires Oct 31 
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  
            .wp-block-column.col-md-4 
              .wp-block-itengral-card.card
                %a.card__offer-link{:href=>"#"}
                  %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                  .card__label.text-white.bg-secondary.btn 20% OFF
                .card-body
                  %a.text-secondary.fw-bold.fs-5.card-link{:href => "#"} BOOK ONLINE AND SAVE 20%!
                  .card__calendar 
                    %span
                      %i.bi.bi-calendar
                    %p Expires Oct 31 
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  
        
        .wp-block-column.col-md-12.mt-5 
          %h3 Review Example 
          .wp-block-itengral-card.card.card__review
            .card-body
              %h5.card-title
                Patrick Lindsay
              .card__review-rating
                %i.bi.bi-star-fill.text-secondary
                %i.bi.bi-star-fill.text-secondary
                %i.bi.bi-star-fill.text-secondary
                %i.bi.bi-star-fill.text-secondary
              %p This is a review example
        .wp-block-column.col-md-12.mt-5.mb-5
          %h3 Book Now Block
          .book-now.bg-secondary 
            %h2.text-center.text-white BOOK NOW 
            %p.text-center.text-white Please select a season
            %nav.book-now__nav
              #nav-tab.nav.nav-tabs{:role => "tablist"}
                %button.nav-link.active{"aria-controls" => "nav-summer", "aria-selected" => "true", "data-bs-target" => "#nav-summer", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} SUMMER MENU
                %button.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-bs-target" => "#nav-winter", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} WINTER MENU
              #nav-tabContent.tab-content.book-now__content
                #nav-summer.tab-pane.fade.show.active{"aria-labelledby" => "nav-summer-tab", :role => "tabpanel"} 
                  #myTab.nav.nav-tabs{:role => "tablist"}                    
                    %button.nav-list-link.active{"aria-controls" => "summer-lodging", "aria-selected" => "true", "data-bs-target" => "#summer-lodging", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Lodging                    
                    %button.nav-list-link{"aria-controls" => "summer-water", "aria-selected" => "false", "data-bs-target" => "#summer-water", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Water Activities                    
                    %button.nav-list-link{"aria-controls" => "summer-tree", "aria-selected" => "false", "data-bs-target" => "#summer-tree", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Tree Trekking
                    %button.nav-list-link{"aria-controls" => "summer-golf", "aria-selected" => "true", "data-bs-target" => "#summer-golf", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Golf                    
                    %button.nav-list-link{"aria-controls" => "summer-other", "aria-selected" => "false", "data-bs-target" => "#summer-other", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Other Activites       
                  #myTabContent.tab-content
                    #summer-lodging.tab-pane.fade.show.active{"aria-labelledby" => "summer-lodging-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #summer-water.tab-pane.fade{"aria-labelledby" => "summer-water-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %a.btn.btn-arrow.text-primary.btn-lg{:href => "#"} More Information
                    #summer-tree.tab-pane.fade{"aria-labelledby" => "summer-tree-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information 
                    #summer-golf.tab-pane.fade{"aria-labelledby" => "summer-golf-tab", :role => "tabpanel"} 
                      %ul.tab-list                       
                        %li
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #summer-other.tab-pane.fade{"aria-labelledby" => "summer-other-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                #nav-winter.tab-pane.fade{"aria-labelledby" => "nav-winter-tab", :role => "tabpanel"} 
                  .nav.nav-tabs{:role => "tablist"}                    
                    %button.nav-list-link.active{"aria-controls" => "winter-lodging", "aria-selected" => "true", "data-bs-target" => "#winter-lodging", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Lodging                    
                    %button.nav-list-link{"aria-controls" => "winter-ski", "aria-selected" => "false", "data-bs-target" => "#winter-ski", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Ski Lessons                    
                    %button.nav-list-link{"aria-controls" => "winter-lift", "aria-selected" => "false", "data-bs-target" => "#winter-lift", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Lift Tickets
                    %button.nav-list-link{"aria-controls" => "winter-rental", "aria-selected" => "true", "data-bs-target" => "#winter-rental", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Rental                    
                    %button.nav-list-link{"aria-controls" => "winter-hanazono", "aria-selected" => "false", "data-bs-target" => "#winter-hanazono", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Hanazono Powder Guides
                    %button.nav-list-link{"aria-controls" => "winter-adventure", "aria-selected" => "false", "data-bs-target" => "#winter-adventure", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Adventure Park 
                    %button.nav-list-link{"aria-controls" => "winter-family", "aria-selected" => "false", "data-bs-target" => "#winter-family", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Kidz & Family       
                  #myTabContent.tab-content
                    #winter-lodging.tab-pane.fade.show.active{"aria-labelledby" => "winter-lodging-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #winter-ski.tab-pane.fade{"aria-labelledby" => "winter-ski-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %a.btn.btn-arrow.text-primary.btn-lg{:href => "#"} More Information
                    #winter-lift.tab-pane.fade{"aria-labelledby" => "winter-lift-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information 
                    #winter-rental.tab-pane.fade{"aria-labelledby" => "winter-rental-tab", :role => "tabpanel"} 
                      %ul.tab-list                       
                        %li
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #winter-hanazono.tab-pane.fade{"aria-labelledby" => "winter-hanazono-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                    #winter-adventure.tab-pane.fade{"aria-labelledby" => "winter-adventure-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                    #winter-family.tab-pane.fade{"aria-labelledby" => "winter-family-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
        .wp-block-column.col-md-12.mt-5.mb-5 
          %h2.text-center.mb-3 Contact block
          .wp-block-integral-form.contact-form
            %form.form.needs-validation(action=""){:novalidate => ""}
              .mb-3
                %input.form-control{:placeholder => "Full name", :type => "text", :required => ""}/
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3
                %input.form-control{:placeholder => "Email", :type => "email", :required => ""}/
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3  
                %input.form-control{:placeholder => "Email Confirmation", :type => "email", :required => ""}/
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3 
                %select#custom-select.form-select{"aria-label" => "Default select example"}
                  %option{:selected => "selected"} Open this select menu
                  %option{:value => "1"} One
                  %option{:value => "2"} Two
                  %option{:value => "3"} Three
              .mb-3
                %textarea#exampleFormControlTextarea1.form-control{:placeholder => "Message", :required => ""}
                .invalid-feedback.text-danger
                  can't be blank.
              .mb-3 
                .form-check
                  %input#flexCheckDefault.form-check-input{:type => "checkbox", :value => ""}/
                  %label.form-check-label{:for => "flexCheckDefault"}
                    I'd like to receive monthly updates and special offers
              .mb-3 
                %button.btn.btn-outline-primary.btn-lg.w-100
                  SEND
        .wp-block-column.col.md-12.mt-5.mb-5 
          %figure.wp-block-table.is-style-striped
            %table
              %thead
                %tr
                  %th{:scope => "col"} 
                  %th{:scope => "col"} Period
                  %th{:scope => "col"} Price
                  %th{:scope => "col"} Age Limit
              %tbody
                %tr
                  %th.text-center{:scope => "row"} 
                    %a.link.text-secondary{:href=>"https://hanazononiseko.com/en/summer/activities/tree-trekking"}Tree Trekking
                  %td.text-center April 29 - October 31
                  %td.text-center 
                    Adult ¥4,500
                  %td.text-center Age 6+ / Height 115cm +
                %tr
                  %th{:scope => "row"} 2
                  %td Jacob
                  %td Thornton
                  %td @fat
                %tr
                  %th{:scope => "row"} 3
                  %td{:colspan => "2"} Larry the Bird
                  %td @twitter 
          %h3 Booking scheduled to open from May
        .wp-block-column.col-md-12.mt-5.mb-5 
          .wp-block-column.image-link
            .resort-status
              .row 
                .col-md-3.col-sm-4 
                  %h4 Weather 
                  %i.bi.bi-brightness-high.resort-status--weather-icon
                .col-md-3.col-sm-4
                  %h4 Wind 
                  %span.resort-status--wind-speed-value 
                  %span.resort-status--wind-speed-metric m/s
                .col-md-6
                  %h4 Temperature 
                  .resort-status--temperature
                    %span.resort-status--current-temperature 6
                    %span.resort-status--current-temperature-metric ° C
                    .resort-status--estimated-temperatures 
                      .resort-status--estimated-temperature 
                        %i.bi.bi-thermometer-high.resort-status--estimated-temperature-icon
                        %div 
                          %span.resort-status--estimated-temperature-metric 6
                          &nbsp;° C
                      .resort-status--estimated-temperature 
                        %i.bi.bi-thermometer-low.resort-status--estimated-temperature-icon
                        %div 
                          %span.resort-status--estimated-temperature-metric 3
                          &nbsp;° C
                .col-12.resort-status--spacer.hide-for-small-only
                .col-sm-4 
                  %h4 Snow Condition
                  %span.resort-status--snow-condition -
                .col-sm-4
                  .resort-status--snowfall
                    .resort-status--snowfall-location 
                      %span Mountain Peak
                      %span Snow Base 
                    .resort-status--snowfall-data 
                      %span.resort-status--snowfall-value 290
                      %span.resort-status--snowfall-metric cm
                  .resort-status--snowfall 
                    .resort-status--snowfall-location
                      %span 24HR
                      %span Snow Fall
                    .resort-status--snowfall-data 
                      %span.resort-status--snowfall-value 0
                      %span.resort-status--snowfall-metric cm
                .col-md-4
                  .resort-status--buttons 
                    %a.btn.btn-secondary.w-100.mb-3{:href => "#"} Lift Status
                    %a.btn.btn-secondary.w-100{:href => "#"} Live Camera             
            .image-block 
              %a.image-block__link{:href => "#"}
                %img.image-block__img{:src => "./images/random-image.jpg", :alt => "Alt"}
                %span.image-block__text New! Tree Trekking            
            .image-block 
              %a.image-block__link{:href => "#"}
                %img.image-block__img{:src => "./images/random-image.jpg", :alt => "Alt"}
                %span.image-block__text New! Tree Trekking            
            .image-block 
              %a.image-block__link{:href => "#"}
                %img.image-block__img{:src => "./images/random-image.jpg", :alt => "Alt"}
                %span.image-block__text New! Tree Trekking
            .image-block 
              %a.image-block__link{:href => "#"}
                %img.image-block__img{:src => "./images/random-image.jpg", :alt => "Alt"}
                %span.image-block__text New! Tree Trekking
            .image-block 
              %a.image-block__link{:href => "#"}
                %img.image-block__img{:src => "./images/random-image.jpg", :alt => "Alt"}
                %span.image-block__text New! Tree Trekking     
            .image-block 
              %a.image-block__link{:href => "#"}
                %img.image-block__img{:src => "./images/random-image.jpg", :alt => "Alt"}
                %span.image-block__text New! Tree Trekking                
  %script{:src => "js/bootstrap.min.js"}