!!!
%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/main.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/bootstrap-icons.css"}
    %title blocks
  %body
    .container
      %h3 Trying with halm
      .row
        .col-md-12.mt-5 
          %h3 Accordion Example
          #accordionExample.accordion
          .accordion-item
            %h2#headingOne.accordion-header
              %button.accordion-button{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-bs-target" => "#collapseOne", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #1
            #collapseOne.accordion-collapse.collapse.show{"aria-labelledby" => "headingOne", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the first item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
          .accordion-item
            %h2#headingTwo.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-bs-target" => "#collapseTwo", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #2
            #collapseTwo.accordion-collapse.collapse{"aria-labelledby" => "headingTwo", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the second item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
          .accordion-item
            %h2#headingThree.accordion-header
              %button.accordion-button.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-bs-target" => "#collapseThree", "data-bs-toggle" => "collapse", :type => "button"}
                Accordion Item #3
            #collapseThree.accordion-collapse.collapse{"aria-labelledby" => "headingThree", "data-bs-parent" => "#accordionExample"}
              .accordion-body
                %strong This is the third item's accordion body.
                It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                = succeed "," do
                  %code .accordion-body
        .col-md-12.mt-5 
          %h3 Card Example
          .card
            %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
            .card-body
              %h5.card-title Card title
              %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
              %a.btn.btn-primary{:href => "#"} Go somewhere
        .col-md-12.mt-5
          %h3 Alert Example
          .alert.alert-primary{:role => "alert"}
            A simple primary alert—check it out!
          .alert.alert-secondary{:role => "alert"}
            A simple secondary alert—check it out!
          .alert.alert-warning{:role => "alert"}
            A simple warning alert—check it out!
          .alert.alert-danger{:role => "alert"}
            A simple danger alert—check it out!
        .col-md-12.mt-5
          %h3 Button Examples
          %button.btn.btn-primary{:type => "button"} Primary
          %button.btn.btn-secondary{:type => "button"} Secondary
          %button.btn.btn-outline-primary{:type => "button"} Success
          .mt-3
            %button.btn.btn-secondary.btn-lg{:type => "button"} This is a bigger button
        .col-md-12.mt-5 
          %h3 Cover Examples
          .cover.full-width
            %img.cover-img(src="images/random-image.jpg" alt="")/
            .cover-body
              %h3 This is the cover full-width
              %ul
                %li Cover Item
                %li Cover Item
                %li Cover Item
                %li Cover Item
          .cover.is-right.mt-5.mb-5
            %img.cover-img(src="images/random-image.jpg" alt="")/
            .cover-body
              %h3 This is the cover right
              %ul
                %li Cover Item
                %li Cover Item
                %li Cover Item
                %li Cover Item
        .col-md-12.mt-5
          %h3 Recent Posts Block
          .row
            .col-md-4 
              .card
                %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                .card-body
                  %h5.card-title Copy Integral CMS - Demo Post
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  .card-footer
                    %ul.list-group.list-group-horizontal.list-group-piped
                      %li.list-group-item.text-muted March 25,2021
                      %li.list-group-item.text-muted Uncategorised 
            .col-md-4 
              .card
                %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                .card-body
                  %h5.card-title Copy Integral CMS - Demo Post
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  .card-footer
                    %ul.list-group.list-group-horizontal.list-group-piped
                      %li.list-group-item.text-muted March 25,2021
                      %li.list-group-item.text-muted Uncategorised 
            .col-md-4 
              .card
                %img.card-img-top{:alt => "...", :src => "images/random-image.jpg"}/
                .card-body
                  %h5.card-title Copy Integral CMS - Demo Post
                  %p.card-text Integral CMS demo post. Integral is a rails content management system (CMS) which gives developers the ability to create a modern website with all the bells and whistles without the hassle.
                  .card-footer
                    %ul.list-group.list-group-horizontal.list-group-piped
                      %li.list-group-item.text-muted March 25,2021
                      %li.list-group-item.text-muted Uncategorised 
        .col-md-12.mt-5 
          %h3 Review Example 
          .card.card__review
            .card-body
              %h5.card-title
                Patrick Lindsay
              .card__review-rating
                %i.bi.bi-star-fill
                %i.bi.bi-star-fill
                %i.bi.bi-star-fill
                %i.bi.bi-star-fill
              %p This is a review example
        .col-md-12.mt-5.mb-5
          %h3 Book Now Block
          .book-now.bg-secondary 
            %h2.text-center.text-white BOOK NOW 
            %p.text-center.text-white Please select a season
            %nav
              #nav-tab.nav.nav-tabs{:role => "tablist"}
                %button.nav-link.active{"aria-controls" => "nav-summer", "aria-selected" => "true", "data-bs-target" => "#nav-summer", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} SUMMER MENU
                %button.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-bs-target" => "#nav-winter", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} WINTER MENU
              #nav-tabContent.tab-content
                #nav-summer.tab-pane.fade.show.active{"aria-labelledby" => "nav-summer-tab", :role => "tabpanel"} 
                  #myTab.nav.nav-tabs{:role => "tablist"}                    
                    %button.nav-list-link.active{"aria-controls" => "summer-lodging", "aria-selected" => "true", "data-bs-target" => "#summer-lodging", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Lodging                    
                    %button.nav-list-link{"aria-controls" => "summer-water", "aria-selected" => "false", "data-bs-target" => "#summer-water", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Water Activities                    
                    %button.nav-list-link{"aria-controls" => "summer-tree", "aria-selected" => "false", "data-bs-target" => "#summer-tree", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Tree Trekking
                    %button.nav-list-link{"aria-controls" => "summer-golf", "aria-selected" => "true", "data-bs-target" => "#summer-golf", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Golf                    
                    %button.nav-list-link{"aria-controls" => "summer-other", "aria-selected" => "false", "data-bs-target" => "#summer-other", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Other Activites       
                  #myTabContent.tab-content
                    #summer-lodging.tab-pane.fade.show.active{"aria-labelledby" => "summer-lodging-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #summer-water.tab-pane.fade{"aria-labelledby" => "summer-water-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %a.btn.btn-arrow.text-primary.btn-lg{:href => "#"} More Information
                    #summer-tree.tab-pane.fade{"aria-labelledby" => "summer-tree-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information 
                    #summer-golf.tab-pane.fade{"aria-labelledby" => "summer-golf-tab", :role => "tabpanel"} 
                      %ul.tab-list                       
                        %li
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #summer-other.tab-pane.fade{"aria-labelledby" => "summer-other-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                #nav-winter.tab-pane.fade{"aria-labelledby" => "nav-winter-tab", :role => "tabpanel"} 
                  .nav.nav-tabs{:role => "tablist"}                    
                    %button.nav-list-link.active{"aria-controls" => "winter-lodging", "aria-selected" => "true", "data-bs-target" => "#winter-lodging", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Lodging                    
                    %button.nav-list-link{"aria-controls" => "winter-ski", "aria-selected" => "false", "data-bs-target" => "#winter-ski", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Ski Lessons                    
                    %button.nav-list-link{"aria-controls" => "winter-lift", "aria-selected" => "false", "data-bs-target" => "#winter-lift", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Lift Tickets
                    %button.nav-list-link{"aria-controls" => "winter-rental", "aria-selected" => "true", "data-bs-target" => "#winter-rental", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Rental                    
                    %button.nav-list-link{"aria-controls" => "winter-hanazono", "aria-selected" => "false", "data-bs-target" => "#winter-hanazono", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Hanazono Powder Guides
                    %button.nav-list-link{"aria-controls" => "winter-adventure", "aria-selected" => "false", "data-bs-target" => "#winter-adventure", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Adventure Park 
                    %button.nav-list-link{"aria-controls" => "winter-family", "aria-selected" => "false", "data-bs-target" => "#winter-family", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Kidz & Family       
                  #myTabContent.tab-content
                    #winter-lodging.tab-pane.fade.show.active{"aria-labelledby" => "winter-lodging-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #winter-ski.tab-pane.fade{"aria-labelledby" => "winter-ski-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %a.btn.btn-arrow.text-primary.btn-lg{:href => "#"} More Information
                    #winter-lift.tab-pane.fade{"aria-labelledby" => "winter-lift-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information 
                    #winter-rental.tab-pane.fade{"aria-labelledby" => "winter-rental-tab", :role => "tabpanel"} 
                      %ul.tab-list                       
                        %li
                          %label.form-label{:for => "date"} Date
                          %input#formFile.form-control{:type => "date"}/
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                        %li 
                          %a.btn.btn-arrow.text-primary{:href => "#"} More Information
                    #winter-hanazono.tab-pane.fade{"aria-labelledby" => "winter-hanazono-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                    #winter-adventure.tab-pane.fade{"aria-labelledby" => "winter-adventure-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
                    #winter-family.tab-pane.fade{"aria-labelledby" => "winter-family-tab", :role => "tabpanel"} 
                      %ul.tab-list
                        %li 
                          %label.form-label{:for => "custom-select"} Ticket Type
                          %select#custom-select.form-select{"aria-label" => "Default select example"}
                            %option{:selected => "selected"} Open this select menu
                            %option{:value => "1"} One
                            %option{:value => "2"} Two
                            %option{:value => "3"} Three
                        %li 
                          %button.btn.btn-warning.btn-black BOOK NOW
  %script{:src => "js/bootstrap.min.js"}